# I. Змінні та памʼять.

1. Створити змінні, що посилаються на два цілих числа, що однакові за значенням, де значення належить проміжку від -5 до 256. Перевірте, чи будуть ці змінні рівні тільки за значенням або ж ще будуть посилатися на один і той самий обʼєкт в памʼяті? Наведіть код та дайте текстову відповідь нижче.

In [1]:
a = 100
b = 100
print("a is b:", a is b)  # Check if variables refer to the same object
print("a == b:", a == b)  # Check if variables are equal by value

c = 1000
d = 1000
print("c is d:", c is d)  # Check if variables refer to the same object
print("c == d:", c == d)  # Check if variables are equal by value

a is b: True
a == b: True
c is d: False
c == d: True

Якщо змінні в проміжку від -5 до 256, то вони будуть рівні за значенням, але та будуть посилатись на один і той же об'єкт. Якщо ж змінні в іншому проміжку, то вони будуть рівні за значенням, але НЕ БУДУТЬ посилатись на той же об'єкт.

2. За допомогою якої функції можна перевірити належність змінної до вказаного типу даних (напр. чи змінна True посилається на значення булевого та цілочисленого типу)?

In [3]:
var_true = True
var_integer = 42

print(isinstance(var_true, bool))    # True, becase var_true is a boolean value
print(isinstance(var_true, int))     # True, because bool is subclass of int

print(isinstance(var_integer, bool)) # False, becase var_integer is NOT a boolean value
print(isinstance(var_integer, int))  # True, becase var_integer is integer value

True
True
False
True

# II. Цілі числа та числа з рухомою комою

3. Створити дві змінні, що посилаються на будь-які ціле число та число з рухомою комою та продемонструвати такі арифметичні операції: додавання, віднімання, ділення, множення, ділення без залишку, ділення по модулю, приведення до ступеню. Всі результати операцій вивести на екран.

In [9]:
integer_var = 10
float_var = 2.5

print(f"{integer_var} + {float_var} = {integer_var + float_var}")
print(f"{integer_var} - {float_var} = {integer_var - float_var}")
print(f"{integer_var} * {float_var} = {integer_var * float_var}")
print(f"{integer_var} / {float_var} = {integer_var / float_var}")
print(f"{integer_var} // {float_var} = {integer_var // float_var}")
print(f"{integer_var} % {float_var} = {integer_var % float_var}")
print(f"{integer_var} ** 2 = {integer_var ** 2}")
print(f"{float_var} ** 2 = {float_var ** 2}")

10 + 2.5 = 12.5
10 - 2.5 = 7.5
10 * 2.5 = 25.0
10 / 2.5 = 4.0
10 // 2.5 = 4.0
10 % 2.5 = 0.0
10 ** 2 = 100
2.5 ** 2 = 6.25

4. Використовуючи змінні з вправи 3, продемонструйте механізм явного перетворення типів, де числа з рухомою комою перетворюються на цілі числа. Також визначте змінну, що посилається на значення булевого типу і спробуйте явно привести її до цілого числа.

In [4]:
integer_var = 10
float_var = 3.5
bool_var = True

float_to_int = int(float_var)
print("float to int:", float_to_int)

bool_to_int = int(bool_var)
print("bool to int:", bool_to_int)

float to int: 3
bool to int: 1

# IІІ. Рядки (String).

5. Створити пустий рядок двома різними способами.

In [5]:
empty_string_1 = ""
empty_string_2 = str()

print("Empty string(1):", empty_string_1)
print("Empty string(2):", empty_string_2)

Empty string(1):
Empty string(2):

6. Створити рядок з апострофом. Зробити його сирим. Вивести обидва рядка на екран.

In [6]:
string_with_apostrophe = 'I\'m a string with an apostrophe'
raw_string_with_apostrophe = r'I\'m a string with an apostrophe'

print("String with an apostrophe::", string_with_apostrophe)
print("Raw string:", raw_string_with_apostrophe)

String with an apostrophe:: I'm a string with an apostrophe
Raw string: I\'m a string with an apostrophe

7. Створити змінну, що буде посилатися на Ваше прізвище латинкою. Створити форматований рядок, який буде мати вигляд "My surname is ______", де на місці нижніх підкреслень буде Ваше прізвище зі змінної.

In [7]:
surname = "Dubovyk"
formatted_string = f"My surname is {surname}."
print(formatted_string)

My surname is Dubovyk.

8. Маючи рядок "My dog is crazy." перетворити його на список ["my", "dog", "is", "crazy"]

In [10]:
sentence = "My dog is crazy"
word_list = sentence.split()
print(word_list)

['My', 'dog', 'is', 'crazy']

# IV. Робота зі списками.

9. Створити список двома різними за синтаксисом способами. За допомогою вбудованої функції обчисліть довжину одного з них.

In [11]:
list1 = [1, 2, 3, 4, 5]
list2 = list(range(10))
length_of_list1 = len(list1)
length_of_list2 = len(list2)
print("Length of list1:", length_of_list1)
print("Length of list2:", length_of_list2)

Length of list1: 5
Length of list2: 10

10. Створіть два списка та за допомогою спеціального методу додайте другий з них в якості останнього елемента першого.

In [12]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
list1.extend(list2)
print("list1 changed:", list1)

list1 changed: [1, 2, 3, 4, 5, 6]

11. Створіть список, де елементами цього списку також є списки. Отримай перший елемент з останнього рядка та виведи значення на екран.

In [13]:
list_of_lists = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]
first_element_of_last_row = list_of_lists[-1][0]
print("The first element from the last row:", first_element_of_last_row)

The first element from the last row: 7

12. Створіть список з десяти елементів різного типу. Отримайте всі елементи, окрім двох перших та двох останніх та збережіть їх в новій змінній.

In [14]:
original_list = [1, "two", 3.5, True, False, 10]
trimmed_list = original_list[2:-2]

print("New list:", trimmed_list)

New list: [3.5, True]

# V. Робота з кортежами.

14. Створити кортеж з один елементом.

In [15]:
single_element_tuple = (42)
print(single_element_tuple)

42

15. Порівняйте список та кортеж. Назвіть схожості та відмінності, випадки використання.

Як список, так і кортеж можуть зберігати кілька значень. Основна відмінніть в тому є змінними, а кортеж не можна змінювати після стоврення. Також кортеж використовує менше пам'яті ніж списк.

16. Створіть кортеж з 11ти елементів чисел з рухомою комою та отримайте кожен парний за індексом елемент в зворотньому порядку. Наприклад, маючи (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3), отримати (0.3, 8.3, 6.3, 4.3, 2.3). Результат збережіть в нову змінну та виведіть на екран.

In [16]:
numbers_tuple = (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 10.3, 11.3)
result_tuple = numbers_tuple[::-2]
print(result_tuple)

(11.3, 9.3, 7.3, 5.3, 3.3, 1.2)

# VI. Множини (Set).

17. Створити множину без елементів. Після цого за допомогою методу додайте кілька різних елементів до множини. Чи множини є змінним типом даних?

In [17]:
empty_set = set()

empty_set.add(1)
empty_set.add(2)
empty_set.add(3)

print("The set after adding the elements:", empty_set)

The set after adding the elements: {1, 2, 3}

Так, множини є змінним типом даних.

18. Створити множину, маючи список my_list = [1, 1, 2, 67, 67, 8, 9]. Пояснити, чому "зникли" деякі елементи.

In [18]:
my_list = [1, 1, 2, 67, 67, 8, 9]
set_from_list = set(my_list)
print(set_from_list)

{1, 2, 67, 8, 9}

Коли створюється множина зі списку, в множині автоматично відбувається видалення дублюючихся елементів, так як множина це колекція унікальних елементів.

19. Створіть дві множини. Продемонстуйте над ними операції: обʼєднання, різниці, пересічі та симетричної різниці. Використовуйте методи, що не змінюють множини, а створюють нові.

In [20]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

union_set = set1.union(set2)
print("Union: ", union_set)

difference_set = set1.difference(set2)
print("Diffrenece: ", difference_set)

intersection_set = set1.intersection(set2)
print("Intersection: ", intersection_set)

symmetric_difference_set = set1.symmetric_difference(set2)
print("Symmetric difference:", symmetric_difference_set)

Union:  {1, 2, 3, 4, 5, 6, 7, 8}
Diffrenece:  {1, 2, 3}
Intersection:  {4, 5}
Symmetric difference: {1, 2, 3, 6, 7, 8}

# VII. Словники (Dictionary).

20. Створіть пустий словник. До нього додайте чотири пари елементів такі, щоб їхні ключі були різних типів. Чи може список бути ключем? Чому?

In [21]:
my_dict = {}

my_dict[1] = "number"
my_dict["key"] = "string"
my_dict[(1, 2)] = "tuple"
my_dict[True] = "bool"


print(my_dict)

{1: 'bool', 'key': 'string', (1, 2): 'tuple'}

Список є змінним типом даних і не може бути хешованим, тому не може бути використаний як ключ у словнику

21. Створіть словник, де значенням в одній з пар теж буде словник, який теж має вкладений словник. Виведіть на екран значення, що міститься в словнику, що знаходиться на найнижчому рівні ієрархії вкладеності (найбільш внутрішній).

In [22]:
dict_lvl_1 = {
    "key1_1": "value1_1",
    "key2_1": "value2_1",
    'key3_1': "value2_1"
    }
dict_lvl_2 = {
    "key1_2": "value1_2",
    "key2_2": "value2_2",
    'key3_2': dict_lvl_1
    }
dict_lvl_3 = {
    "key1_3": "value1_3",
    "key2_3": "value2_3",
    'key3_3': dict_lvl_2
    }
print("Value from the innermost dictionary:", dict_lvl_3["key3_3"]["key3_2"]["key1_1"])

Value from the innermost dictionary: value1_1

# Вітаю! Ви велика(ий) молодець, що впоралась(вся). Похваліть себе та побалуйте чимось приємним. Я Вами пишаюся.